{% extends "layout.twig" %}

{% block content %}

<form action="/p/new" method="post">

  {{ form_errors(form) }}
  
  {{ form_errors(form.paste) }}
  {{ form_widget(form.paste, { attr: {'placeholder': 'Paste stuff here ...'} }) }}

  {{ form_widget(form._token) }}

  <p class="right">
    {{ form_widget(form.filename, { attr: {'placeholder': 'Optional filename ...'} }) }}
    <button class="button-main" type="submit">Paste It</button>
  </p>

</form>
{% endblock %}
