{% extends "layout.twig" %}

{% block content %}

<form action="/p/new" method="post">

  {{ form_errors(form) }}
  
  {{ form_errors(form.content) }}
  {{ form_widget(form.content, { attr: {'placeholder': 'Paste stuff here ...'} }) }}

  {{ form_widget(form._token) }}

  <div class="right">
    <p>
      <span class="group">
        <label>Syntax highlighting?</label>
        {{ form_widget(form.highlight, { attr: {'checked': 'checked' } }) }}
      </span>

      <span class="group">
        <label>Convert tabs to spaces?</label>
        {{ form_widget(form.convertTabs, { attr: {'checked': 'checked' } }) }}
      </span>
    </p>

    <p>
      {{ form_widget(form.filename, { attr: {'placeholder': 'Optional filename ...'} }) }}
      <button class="button-main" id="submit" type="submit">Paste It</button>
    </p>
  </div>

</form>
{% endblock %}
