{% extends "layout.twig" %}

{% block content %}

<form action="/p/new" method="post">

  {{ form_errors(form) }}
  
  {{ form_errors(form.content) }}
  {{ form_widget(form.content, { attr: {'placeholder': 'Paste stuff here ...'} }) }}

  {{ form_widget(form._token) }}

  <div class="right">
      <p>
        Convert tabs to spaces?
        {{ form_widget(form.convertTabs, { attr: {'checked': 'checked' } }) }}
      </p>

      <p>
        {{ form_widget(form.filename, { attr: {'placeholder': 'Optional filename ...'} }) }}
        <button class="button-main" id="submit" type="submit">Paste It</button>
      </p>
  </div>

</form>
{% endblock %}
