{% extends "layout.twig" %}

{% block content %}
<div class="paste">
  <pre><code>{{ paste.content | e }}</code></pre>
</div>
<!-- Digest: {{ paste.digest }} -->
<ul id="pasteOptions">
  <li><a href="/p/{{ id | e }}/raw">Raw</a></li>
  <li><a href="/p/{{ id | e }}/download">Download</a></li>
  <li><a href="/p/{{ id | e }}/dupe">Dupe</a></li>
</ul>
{% endblock %}
